/* All global styles that cannot be placed at a component level easily are placed here*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

:root {
  --pokemon-yellow: #ffde00;
  --pokemon-blue: #3b4cca;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
button,
input,
select,
textarea,
.pure-g [class*='pure-u'] {
  /* Set your content font stack here: */
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--pokemon-blue);
}

.paragraph {
  margin: 0.8em 0;
}

.bold {
  font-weight: bold;
}

.message {
  letter-spacing: 0px;
}

.padded-container {
  padding: 0 20%;
}

.aligned-container {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.bordered {
  border-bottom: 1px solid #7685cb;
}

.yellow-box {
  font-weight: 400;
  margin-top: 10px;
  padding: 20px;
  border-radius: 20px;
  border: 3px solid black;
  background-color: var(--pokemon-yellow);
}

.button-danger {
  color: white;
  background: rgb(202, 60, 60);
}

.pure-form input[type='text'],
.pure-form input[type='search'],
.pure-form input[type='password'] {
  border: 1px solid black;
}

.pure-form legend {
  border-bottom: 1px solid #7685cb;
}

.pure-form select {
  padding: 0.1em 0.2em;
}

#search-form,
#team-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding: 1em;
}

.modal-form {
  background-color: var(--pokemon-yellow);
  border: 3px solid black;
  padding: 20px;
}

.Modal {
  width: fit-content;
  margin: 150px auto;
  z-index: 15;
}

.Overlay {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(179, 177, 177);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(100, 100, 100);
  border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:active {
  background: rgb(68, 68, 68);
  border-radius: 10px;
}

div[class^='Snackbar_snackbar-wrapper'] {
  z-index: 1100;
}
