.navLink {
  cursor: pointer;
  color: black;

  &.selected {
    cursor: default;
    color: white;
    background-color: rgb(160, 160, 160);

    &:hover,
    &:focus {
      background-color: rgb(160, 160, 160);
    }
  }

  &:hover,
  &:focus {
    background-color: red;
    color: white;
  }
}

.menu {
  margin-right: 10px;
  margin-left: auto;
}

.greeting {
  vertical-align: middle;
}